@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("../Images/ForDesktopBG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .9;
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    padding-top: 8%;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
    height: 100%;
	max-width: 765px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgb(250, 246, 246);
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding-right: 10px;
}

.left{
    background-color: rgb(247, 245, 245);
	background: url("../Images/hosp.jfif") no-repeat;
	background-position: auto;
	background-size:cover;
	height: 100%;
	padding-right: 40px !important;
}

.left-SignUpForm{
	background-color: rgb(247, 245, 245);
	background: url("../Images/hosp.jfif") no-repeat;
	background-position: auto;
	background-size: 100% 100%;
	height: 100%;
	padding-right: 40px !important;
}

.right{
	padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.right-SignUpForm
{
	padding-top: 25px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
}

.right h2, .right-SignUpForm h2{
    font-size: 30px;
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 600;
}

.right h2:after, .right-SignUpForm h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color:  	#008B8B;
}

.right h3, .right-SignUpForm h3{
    font-size: 19px;
    font-weight: 300;
}


.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(61, 56, 56, 0.2);
	padding-top: 0.1rem ;
    padding-bottom: .1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
    text-indent: 6px;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}


.btn{
    width: 100px;
	padding: 3px 5px !important;
    margin-bottom: 3px;
	background-color:#8b0000 !important;
	color: #fff !important;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
    border-radius: 20px !important;
    text-align: center !important;
}

.btn:hover{
    background-color: #8b0000;
}
#btn2{
    font-size: 17px;
}
.text{
    float: right;
    text-align: right;
}
.form-control{
	font-size: 12px !important;
}
.text a{
	color: black;
}

.text a:hover{
	color: #8b0000;
	text-decoration: none;
}

#radioBtns 
{
	margin-bottom: 15px;
	font-size: 17px;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
		margin-top: 50px;
	}
	.left{
		height: 400px;		
	}

	.left-SignUpForm{
		height: 400px;
		background-size: cover;
	}
}
